<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ant.AntLaunchConfigurationType">
<stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${working_set:&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;resources&gt;&#10;&lt;item path=&quot;/org.rodinp.help.feature&quot; type=&quot;4&quot;/&gt;&#10;&lt;/resources&gt;}"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.rodinp.handbook.feature/build.xml"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.ui.externaltools.launchGroup"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.ant.ui.AntClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/java-6-openjdk"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.rodinp.handbook.feature"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.ant.ui.AntClasspathProvider"/>
<mapAttribute key="org.eclipse.ui.externaltools.ATTR_ANT_PROPERTIES">
<mapEntry key="CDC-1.0/Foundation-1.0" value="/usr/lib/jvm/java-6-openjdk/jre/lib/resources.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/rt.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/jsse.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/jce.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/charsets.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/rhino.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/sunjce_provider.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/dnsns.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/gnome-java-bridge.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/sunpkcs11.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/pulse-java.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/localedata.jar"/>
<mapEntry key="CDC-1.1/Foundation-1.1" value="/usr/lib/jvm/java-6-openjdk/jre/lib/resources.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/rt.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/jsse.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/jce.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/charsets.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/rhino.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/sunjce_provider.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/dnsns.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/gnome-java-bridge.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/sunpkcs11.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/pulse-java.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/localedata.jar"/>
<mapEntry key="J2SE-1.2" value="/usr/lib/jvm/java-6-openjdk/jre/lib/resources.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/rt.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/jsse.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/jce.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/charsets.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/rhino.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/sunjce_provider.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/dnsns.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/gnome-java-bridge.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/sunpkcs11.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/pulse-java.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/localedata.jar"/>
<mapEntry key="J2SE-1.3" value="/usr/lib/jvm/java-6-openjdk/jre/lib/resources.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/rt.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/jsse.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/jce.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/charsets.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/rhino.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/sunjce_provider.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/dnsns.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/gnome-java-bridge.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/sunpkcs11.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/pulse-java.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/localedata.jar"/>
<mapEntry key="J2SE-1.4" value="/usr/lib/jvm/java-6-openjdk/jre/lib/resources.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/rt.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/jsse.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/jce.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/charsets.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/rhino.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/sunjce_provider.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/dnsns.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/gnome-java-bridge.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/sunpkcs11.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/pulse-java.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/localedata.jar"/>
<mapEntry key="J2SE-1.5" value="/usr/lib/jvm/java-6-openjdk/jre/lib/resources.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/rt.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/jsse.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/jce.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/charsets.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/rhino.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/sunjce_provider.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/dnsns.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/gnome-java-bridge.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/sunpkcs11.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/pulse-java.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/localedata.jar"/>
<mapEntry key="JRE-1.1" value="/usr/lib/jvm/java-6-openjdk/jre/lib/resources.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/rt.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/jsse.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/jce.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/charsets.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/rhino.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/sunjce_provider.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/dnsns.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/gnome-java-bridge.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/sunpkcs11.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/pulse-java.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/localedata.jar"/>
<mapEntry key="JavaSE-1.6" value="/usr/lib/jvm/java-6-openjdk/jre/lib/resources.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/rt.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/jsse.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/jce.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/charsets.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/rhino.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/sunjce_provider.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/dnsns.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/gnome-java-bridge.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/sunpkcs11.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/pulse-java.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/localedata.jar"/>
<mapEntry key="JavaSE-1.7" value="/usr/lib/jvm/java-6-openjdk/jre/lib/resources.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/rt.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/jsse.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/jce.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/charsets.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/rhino.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/sunjce_provider.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/dnsns.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/gnome-java-bridge.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/sunpkcs11.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/pulse-java.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/localedata.jar"/>
<mapEntry key="OSGi/Minimum-1.0" value="/usr/lib/jvm/java-6-openjdk/jre/lib/resources.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/rt.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/jsse.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/jce.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/charsets.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/rhino.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/sunjce_provider.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/dnsns.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/gnome-java-bridge.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/sunpkcs11.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/pulse-java.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/localedata.jar"/>
<mapEntry key="OSGi/Minimum-1.1" value="/usr/lib/jvm/java-6-openjdk/jre/lib/resources.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/rt.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/jsse.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/jce.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/charsets.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/rhino.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/sunjce_provider.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/dnsns.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/gnome-java-bridge.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/sunpkcs11.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/pulse-java.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/localedata.jar"/>
<mapEntry key="OSGi/Minimum-1.2" value="/usr/lib/jvm/java-6-openjdk/jre/lib/resources.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/rt.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/jsse.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/jce.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/charsets.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/rhino.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/sunjce_provider.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/dnsns.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/gnome-java-bridge.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/sunpkcs11.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/pulse-java.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/localedata.jar"/>
<mapEntry key="basearch" value="x86"/>
<mapEntry key="basenl" value="en_US"/>
<mapEntry key="baseos" value="linux"/>
<mapEntry key="basews" value="gtk"/>
<mapEntry key="bootclasspath" value="/usr/lib/jvm/java-6-openjdk/jre/lib/resources.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/rt.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/jsse.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/jce.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/charsets.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/rhino.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/sunjce_provider.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/dnsns.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/gnome-java-bridge.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/sunpkcs11.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/pulse-java.jar;/usr/lib/jvm/java-6-openjdk/jre/lib/ext/localedata.jar"/>
<mapEntry key="eclipse.running" value="true"/>
<mapEntry key="javacDebugInfo" value="on"/>
<mapEntry key="javacFailOnError" value="false"/>
<mapEntry key="javacSource" value="1.6"/>
<mapEntry key="javacTarget" value="1.6"/>
<mapEntry key="javacVerbose" value="false"/>
</mapAttribute>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_ANT_TARGETS" value="generate-html,"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LAUNCH_CONFIGURATION_BUILD_SCOPE" value="${none}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${workspace_loc:/org.rodinp.handbook.feature/build.xml}"/>
<stringAttribute key="process_factory_id" value="org.eclipse.ant.ui.remoteAntProcessFactory"/>
</launchConfiguration>
